<ion-header>
  <ion-toolbar>
    <ion-button fill="clear" [routerLink]="['/home',id_usuario]" routerDirection="forward">
      <ion-icon name="arrow-back"></ion-icon>
      <ion-item>
        <ion-title style="font-weight: bold">{{nombre_usuario}} (Mis Productos)</ion-title>
      </ion-item>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-header>
      <ion-segment scrollable>
        <ion-segment-button *ngFor="let category of categorias; let ind = index" (click)="selectCategoria(ind)">
          <ion-icon [name]="category.icon"></ion-icon>
          <ion-label [class.select]="category.select === true">
            {{ category.name }}
          </ion-label>
        </ion-segment-button>
      </ion-segment>
    </ion-header>
  </ion-list>

  <div *ngFor="let item of articulos">
    <ion-card style="background-color: #f4f5f8;">
      <ion-card-header>
        <ion-card-title>{{item.titulo}} ({{item.precio}}€)</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-label>{{item.descripcion}}</ion-label>
        <ion-thumbnail slot="start">
          <ion-img [src]="item.foto[0]"></ion-img>
        </ion-thumbnail>
      </ion-card-content>
      <ion-button (click)=editarProducto(item.clave)>MODIFICAR</ion-button>
      <ion-button (click)="eliminar(item.clave)">ELIMINAR</ion-button>
    </ion-card>
  </div>
</ion-content>