<ion-header>
  <ion-toolbar>
    <ion-item lines="none">
      <ion-button fill="clear" [routerLink]="['/home', id_usuario]" routerDirection="forward">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
      <ion-title style="font-weight: bold">Listado Quicktrade</ion-title>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-header>
      <ion-segment scrollable>
        <ion-segment-button *ngFor="let category of categorias; let ind = index" (click)="selectCategoria(ind)">
          <ion-icon [name]="category.icon"></ion-icon>
          <ion-label [class.select]="category.select === true">
            {{ category.name }}
          </ion-label>
        </ion-segment-button>
      </ion-segment>
    </ion-header>
  </ion-list>

  <div *ngFor="let item of articulos">
    <ion-card button=true (click)="verDetalles(item.clave)" style="background-color: #f4f5f8;">
      <ion-card-header>
        <ion-card-title>{{item.titulo}} ({{item.precio}}€)</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-label>{{item.descripcion}}</ion-label>
        <ion-thumbnail slot="start">
          <ion-img [src]="item.foto[0]"></ion-img>
        </ion-thumbnail>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>