.select {
    font-weight: bold;
    font-size: 18px;
  }
  ion-icon {
    font-size: 20px;
  }
  .labelItem {
    font-size: 17px;
  }
  .error-message {
    color: var(--ion-color-danger);
  }

  .foto{
    width: 250px;
    height: 250px;
  }
  